<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/jq.js"></script>
	<script>
	$(function () {
		
		var id = "<%=name%>".split(" ").join("_");

		var active = false;;
		navigator.vibrate = navigator.vibrate || navigator.webkitVibrate || navigator.mozVibrate || navigator.msVibrate;
		var socket = io();
		socket.emit('reg', {name: id});

		socket.on('new', function (data) {
			$("#body").append('<button id="' + data.name + '" class="off">'+data.name+'</button>');
		});

		socket.on('others', function (data) {
			for (var i in data) {
				if (i == id) {
			  		$("#body").prepend('<button id="' + i + '" class="me '+(data[i]?'on':'off')+'">'+i+'</button>');
			  		$("#" + i).click(function (e) {
			  			e.preventDefault();
						active = !active;
						if (active) $(this).removeClass('off').addClass('on');
						else $(this).removeClass('on').addClass('off');
						socket.emit(active?'on':'off');
			  		})
			  		continue;
				}
				$("#body").append('<button id="' + i + '" class="'+(data[i]?'on':'off')+'">'+i+'</button>');
				
				$("#"+i).click(function (e) {
					e.preventDefault();
					socket.emit('vib', {name: $(this).attr('id')});
				});
			
			}
		})
		socket.on('you', function (data) {
			me = data.name;
		});

		socket.on('del', function (data) {
			$("#" + data.name).remove();
		})

		socket.on('on', function (data) {
			$("#" + data.name).removeClass('off').addClass('on');
			window.navigator.vibrate(200);
		})
		socket.on('off', function (data) {
			$("#" + data.name).removeClass('on').addClass('off');
			window.navigator.vibrate(200);
		})
		socket.on('vib', function () {
			console.log("vib");
			window.navigator.vibrate([200, 200, 200, 200, 200]);
		});

		socket.on('num', function (data) {
			$("#"+data.name).html(data.name + ' [' + data.n + ']');
		});

		$(".nums").click(function (e) {
			e.preventDefault();
			socket.emit('num', {n: $(this).html()});
			$("#"+id).html(id+" [" + $(this).html() + "]");
		});

	})
	</script>
  </head>
  <body>
  	<div id="body"></div>
  	<div id="nn">
  		<button class="nums">1</button>
  		<button class="nums">2</button>
  		<button class="nums">3</button>
  	</div>
  </body>
</html>
